<section class="recent-posts">
    <ul class="recent-posts-list">
        <% @posts.each do |post| %>
            <li class="list-item">
                <%= link_to post.title, post_path(post), class: "post-link" %>
            </li>
        <% end %>

        <%= link_to "Show all", posts_path, class: "btn" %>
    </ul>
</section>