// VARIABLES
$border: #F5F5F5;
$accent-color: #4586FF;
$accent-color-light: #EEF4FF;
$red: #E75151;
$text-primary: #32424A;
$text-secondary: #8F979C;

$duration: 100ms;
$timing-function: ease-in-out;

@mixin animation() {
    transition-duration: $duration;
    transition-timing-function: $timing-function;
}

@import 'reset';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    position: relative;
    color: $text-primary;
}

.top-nav, nav {
    width: 100%;
    padding: 2rem;
    position: fixed;

    z-index: 5;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & > a {color: $accent-color}
}

nav {
    justify-content: space-between;
    top: initial;
    bottom: 0;  

    .nav-links{
        a {
            color: #8F979C;

            &:hover {color: $accent-color;}
        }

        a:not(:last-child) {margin-right: 1rem;}
    }
}

.top-nav {
    & > a {
        display: flex;
        align-items: center;

        i {margin-right: 0.5rem;}
    }

    & > div {
        display: flex;
        align-items: center;
    }
}

.btn {
    font-size: 14px;
    line-height: 36px;
    padding: 0 12px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s;
    text-align: center;
    background-color: white;
    color: $text-secondary;
    text-decoration: none;
    border: 1px solid $border;

    &:hover {
       color: $accent-color;
       background: $accent-color-light;
       border: 1px solid $accent-color-light;
    }
}

.divider {
    width: 2px;
    height: 20px;
    margin: 0 0.5rem;
    
    display: inline-block;
    
    background: $border;
    border-radius: 1px;
}

.control {
    color: $text-secondary;

    &:hover {
        color: $text-primary;
    }
}

.delete:hover {color: $red;}

@import 'typography';
@import 'posts';
@import 'form';